            <!--Row 1 : Heading -->  
            <nav class="navbar navbar-light justify-content-between">
                    <h5 style="font-family: cursive">Current Account
                        <small id="currentAcntDisplayID" class="text-muted">0x10101010</small>
                    </h5>
            <form class="form-inline">
                <button class="btn btn-outline-success my-2 my-sm-0" id="updateLandsButtonID" type="submit">Update</button>
            </form>
        </nav>              
        <!--Panel to fill up with lands available pertaining to selected account -->
        <div class="form-check" id="contentPanel" style="background-color: #F9EAC9;height:400px;overflow-y: scroll;">                
            <br>
        </div>