<br>            
<form class="form-inline" action="#">
    <div class="form-group">
      <label><strong>Location:</strong>&nbsp;&nbsp;</label>
      <input type="text" class="form-control" id="newLocationID">
    </div>
    <div class="form-group">
      <label>&nbsp;&nbsp;<strong>Cost:</strong>&nbsp;&nbsp;</label>
      <input type="number" class="form-control" id="newCostID">
    </div><p>&nbsp;&nbsp;</p>
    <button id='addLandButtonID' class="btn btn-primary" type="button">Add Land</button>
    <p style="font-size:0.75em;">&nbsp;&nbsp;Allowed only for Contract Owner</p>
</form>
<br><br>
<form class="form-inline" action="#">
    <div class="form-group">        
        <label class="mr-sm-2" for="inlineFormCustomSelectPref"><strong>Buyer Account:</strong></label>
        <input type="text" class="form-control" id="buyerAccountID">
    </div>
    <div class="col-3"><strong>Selected Land ID:</strong> <span id='selectedLandID'></span></div>
    <button id='transferLandButtonID' class="btn btn-primary" type="button">Transfer</button>
</form>  
<br>                           
 